<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Angular Example | Chandni Mandlik</title>
	<meta name="keywords" content="angular example chandni mandlik" />
	<meta name="description" content="This is sample Technical example. Do not use this for commercial purpose.">
	<meta name="author" content="Chandni Mandlik">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">

</head>

<body data-ng-controller="myCtrl" data-ng-cloak style="background:{{bgcolor}}">
	<div class="container-fluid">
		<div class="container">
            <h4>Enter any colour name into the text box below to see the magic</h4>
            <form novalidate>
                <div class="form-group">
                    <input type="text" data-ng-model="radiumoneCtrl.bgcolorvalue" class="form-control" placeholder="Enter colour name (eg. Red, blue, etc)">
                </div>
                <button type="submit" class="btn btn-default"  data-ng-click="saveBgColor();">Submit</button>
            </form>
		</div>
	</div>

	<!-- JS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>
